<include file="Public:header" />

<script src="__PUBLIC__/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/layer/layer.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/copy/clipboard.min.js" type="text/javascript"></script>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <if condition="1 eq 2">
            <div class="title_left">
                <h3>游戏配置</h3>
            </div>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                        </div>
                    </div>
                </div>
            </if>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>游戏基本配置 </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <form method="post" action="{:U('Manage/Games/add')}" enctype="multipart/form-data" class="form-horizontal form-label-left" onsubmit="return check_form(this)">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    游戏状态： <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-group">

                                    <div class="radio">
                                        <label>
                                            <input type="radio" <if condition="$games['status'] eq 1">checked</if> value="1" id="status1" name="status"> 开
                                        </label>
                                        <label>
                                            <input type="radio" <if condition="$games['status'] eq 2">checked</if> value="2" id="status2" name="status"> 关
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gname">
                                    游戏名称： <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-group">
                                    <input type="text" id="gname" name="gname" value="{$games.gname}" placeholder="填写公众号名称" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <!-- 雷振兴 -->
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gname">
                                    游戏LOGO： <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-group">
                                    <input type="file" id="game_logo" name="game_logo" value="" placeholder="游戏LOGO" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <!-- 雷振兴结束 -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">游戏控制器： <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-group">
                                    <select class="form-control" name="controllers" id="controllers">
                                        <option value="">选择控制器</option>
                                    </select>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <input type="hidden" name="gid" value="{$games.gid}" />
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<!-- footer content -->
<include file="Public:min_footer" />
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__PUBLIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="__PUBLIC__/vendors/nprogress/nprogress.js"></script>
<!-- validator -->
<script src="__PUBLIC__/vendors/validator/validator.js"></script>

<!-- Custom Theme Scripts -->
<script src="__PUBLIC__/js/custom.min.js"></script>
<script>
    /**
     * 获取控制器
     */
    function get_controller_list(){
        var id = $('input[name="gid"]').val();
        $.ajax({
            url: "{:U('Manage/Games/ajax_get_controller')}",
            type:'post',
            data: {'model':'Mobile','id':id},
            dataType:'html',
            success:function(res){
                $('#controllers').empty().append(res);
            }
        });
    }

    function check_form(obj){
        var gname = $('#gname').val();
        var controllers = $('#controllers').val();
        // 雷振兴
        var game_logo = $('#game_logo').val();
        // 雷振兴
        var gname =  $("input[type='radio']:checked").val();
        if(gname == ''){
            fun_tips("游戏名称不能为空");
            return false;
        }
        // 雷振兴
        if(game_logo == ''){
            fun_tips("请选择游戏LOGO");
            return false;
        }
        // 雷振兴结束
        if(controllers == ''){
            fun_tips("请选择游戏控制器");
            return false;
        }
        return true;
    }

    function fun_tips(tip){
        layer.open({
            title: '信息提示',
            content: tip
        });
    }

    $(function(){
        get_controller_list();
    })

</script>
</body>
</html>