<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>支付</title>
<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">

</head>

<body>
<div class="weui-msg">
  <!-- <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div> -->
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">您将支付¥：{$order_info.charge_money}</h2>
    		<p class="weui_msg_desc">订单号:{$order_info.order_sn}</p>
			<!-- <p class="weui_msg_desc">应付金额：{$order_info.goods_price} ¥</p> -->
  </div>
  <img src='{$path}' />
  <div class="weui-msg__opr-area">
    <span style="color:red;">温馨提示：如不能支付，请保存二维码进行扫码支付！</span>
    <p class="weui-btn-area">
      <a href="javascript:;" class="weui-btn weui-btn_primary"> 长按上图二维码识别支付</a>
      <a href="{$back_url}" class="weui-btn weui-btn_primary">返回</a>
    </p>
  </div>
</div>

	
</body>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
</html>
