
<include file="Public:header" />
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">


            </div>


            <div class="row">


              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>用户信息 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">ID </th>
                            <th class="column-title">用户名 </th>
                            <th class="column-title">真实姓名 </th>
                            <th class="column-title">电话号码 </th>
                            <th class="column-title">性别 </th>
                            <th class="column-title">注册时间 </th>
                            <th class="column-title">状态 </th>
                            <th class="column-title no-link last"><span class="nobr">操作</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <volist name='list' id="vo">
                            <tr class="even pointer">
                              <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                              </td>

                              <td class=" ">{$vo.admin_id}</td>
                              <td class=" ">{$vo.admin_name} </td>
                              <td class=" ">{$vo.true_name} </td>
                              <td class=" ">{$vo.admin_phone}</td>
                              <td class=" ">
                                <if condition="$vo.sex eq 1">
                                      男
                                <elseif condition="$vo.sex eq 2"/>
                                      女
                                <else/>
                                      未设置
                                </if>

                              </td>
                              <td class="a-right a-right ">{$vo.addtime|date='Y-m-d H:i:s',###}</td>
                              <td class=" last">
                                <if condition="$vo.status eq 0">
                                  0
                                  <elseif condition="$vo.status eq 1"/>
                                    1
                                    <elseif condition="$vo.status eq 2"/>
                                      已禁用
                                </if>
                              </td>
                                <td class=" "><a href="__MODULE__/User/edit?id={$vo.admin_id}">修改</a>   <a href="__MODULE__/User/Del?id={$vo.admin_id}">删除</a></td>
                            </tr>

                          </volist>


                        </tbody>
                      </table>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <include file="Public:min_footer" />
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="__PUBLIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="__PUBLIC__/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="__PUBLIC__/js/custom.min.js"></script>
  </body>
</html>
